name: "Terraform- Production"

on: 
  push:
    branches: 
    - master
    paths: 
    - environments/prod/**
  pull_request: 
    branches: 
    - master
    paths:
    - environments/prod/**

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  TF_STATE_BUCKET_NAME: ${{ secrets.AWS_TF_STATE_BUCKET_NAME }}
  PRIVATE_SSH_KEY: ${{ secrets.AWS_SSH_KEY_PRIVATE }}
  PUBLIC_SSH_KEY: ${{ secrets.AWS_SSH_KEY_PUBLIC }}
  AWS_REGION: eu-west-2

jobs: 
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
      
      - name: Terraform Init
        id: init
        run: terraform init
        working-directory: .environments/prod/
      
      - name: Terraform Plan
        id:  plan
        run: terraform plan
        working-directory: .environments/prod/

      - name: Terraform Apply
        id:  apply
        run: terraform apply --auto-approve
        working-directory: .environments/prod/

       